.component-header{
	width: 100%;
	line-height: 0.3rem;
	padding: 0.2rem 0;
	overflow: hidden;
	border-bottom: 2px solid #ddd;
	border-top: 1px solid #ddd;
	margin-bottom: 0.2rem;
}
.logo{
	width: 0.35rem;
	float: left;
	margin-right: 0.3rem;
}
.title{
	font-size: 0.3rem;
	font-weight: 600;
	color: #555;
	float: left;
}