/*
* @Author: Administrator
* @Date:   2017-08-18 16:33:56
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-21 10:05:23
*/
.page-musicList{
	width: 100%;
}
.page-musicList .to-play{
	width: 100%;
	line-height: 0.25rem;
	padding: 0.1rem;
	margin-bottom: 0.2rem;

}
.page-musicList .to-play a{
	color: #01973a;
	text-decoration: none;

}